@model SeMapBrowser.Models.WorldModel

@{
    ViewBag.Title = Model.Name;
}

@section scripts
{
    <style>
        body {
            overflow: hidden;
        }
    </style>
    <script src="~/lib/three-js/three.js"></script>
    <script src="~/js/Detector.js"></script>
    <script src="~/js/Stats.js"></script>
    <script src="~/js/OrbitControls.js"></script>
    <script src="~/js/Viewer.js"></script>
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <p class="navbar-text">
            <i class="fa fa-globe"></i> @Model.Name (@Model.Date.ToString("yyyy MMM dd"))
        </p>
        <a href="@Url.Action("Index")" class="btn btn-default navbar-btn navbar-right"><i class="fa fa-times-circle"></i> Close</a>
        <button type="button" class="btn btn-default navbar-btn navbar-right" data-toggle="modal" data-target="#gpsModal">GPS</button>
    </div>
</div>

<div id="gpsModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Jump to...</h4>
            </div>
            <div class="modal-body">
                <div role="tabpanel">

                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#_gps">GPS</a></li>
                        <li><a data-toggle="tab" href="#_stations">Stations</a></li>
                        <li><a data-toggle="tab" href="#_smallships">Small ships</a></li>
                        <li><a data-toggle="tab" href="#_largeships">Large ships</a></li>
                        <li><a data-toggle="tab" href="#_asteroids">Asteroids</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="_gps">
                            <div class="list-group"></div>
                        </div>
                        <div class="tab-pane" id="_stations">
                            <div class="list-group"></div>
                        </div>
                        <div class="tab-pane" id="_smallships">
                            <div class="list-group"></div>
                        </div>
                        <div class="tab-pane" id="_largeships">
                            <div class="list-group"></div>
                        </div>
                        <div class="tab-pane" id="_asteroids">
                            <div class="list-group"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var viewer;

        function clearGps() {
            $('#gpsModal .list-group').html('');
        }

        function addGps(type, name, x, y, z) {
            var target;
            switch (type) {
                case 'GPS':
                    target = $('#_gps .list-group');
                    break;
                case 'STATION':
                    target = $('#_stations .list-group');
                    break;
                case 'SMALL_SHIP':
                    target = $('#_smallships .list-group');
                    break;
                case 'LARGE_SHIP':
                    target = $('#_largeships .list-group');
                    break;
                case 'ASTEROID':
                    target = $('#_asteroids .list-group');
                    break;
                default:
                    return;
            }

            var cmd = $('<a>').attr({ href: '#', 'class': 'list-group-item ' }).data({ x: x, y: y, z: z }).text(name + ' (' + x + ', ' + y + ', ' + z + ')');
            target.append(cmd);
        }


        viewer = new Viewer({
            clearGps: clearGps,
            addGps: addGps
        });
        viewer.loadWorld('@Model.Name');

        $('#gpsModal .list-group').on('click', 'a', function() {
            var $this = $(this);
            var x = parseFloat($this.data('x'));
            var y = parseFloat($this.data('y'));
            var z = parseFloat($this.data('z'));

            if (x && y && z) {
                viewer.navigateTo(x, y, z);
                $('#gpsModal').modal('hide');
            }

            return false;
        });
    });
</script>