<div class="container">
    <div class="page-header">
        <h1>
            Not Found
        </h1>
    </div>
    <p class="alert alert-danger">
        The world you've requested doesn't exist
    </p>
    <a href="@Url.Action("Index")" class="btn btn-default">
        Back to the main page
    </a>
</div>